$primary-blue: #26374a;
$primary-blue-dark: #071523;
$primary-chart: #37b99c;



#navbar {
    padding:0 50px;
}

h1 {
    padding:25px 15px;
    margin:0;
    border: none;
}
.hub-header{
    background-color:$primary-blue;
}
 .menu-navigation{
    background-image: linear-gradient($primary-blue, $primary-blue-dark);
    height:100%;
}
.hub-header, .menu-navigation {
    padding-left:50px;
    color:#fff;
    border-radius:0;
    border: none;

    a {
        color:#fff!important;
        text-decoration: none;
        font-weight:normal;

        &:hover, &:focus, &:active, &.active {
            &::after {
                border-bottom: .18em solid #fff;
                content: "";
                display: block;
                padding-bottom: 8px;
                width: 70px; 
            }
                
            font-weight:bold;
        }

        &:after {
            background-color: rgba(0, 0, 0, 0);
            bottom: 0;
            content: "";
            left: 0;
            pointer-events: auto;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1; }
    }
    ul{
        list-style:none;
        padding:0 15px;

        li{
            padding:8px 0;
            position:relative;
        }
    }
}

.main-content{
    padding:25px 50px;

    h2::after {
        border-bottom: .18em solid #333;
        content: "";
        display: block;
        padding-bottom: 8px;
        width: 70px;
    } 
}

.section-heading {
    // width: 100%;
    background-color: $primary-blue;
    border-left: solid 5px $primary-chart;
    padding: 15px 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    margin:-20px -20px 0 -20px;

}

.data-box {
    background-color: #ececec;
    padding:20px;


    div.data-cnt {
        background-color: #fff;
        padding: 15px;
        margin:15px;

        h4 {                    
            color: #333;
            font-weight: lighter;
            margin-top:0;
        }        
    }
}

.highlight {
    margin-top: 30px;
    font-size: 2.3em;
    font-weight:bold;
    color: #333;
    text-align: center;    
}

.details {
    margin:0 15px;
    p {
        margin:0;
    }
}

.data-stats {
    padding:15px;
    border:2px solid #333;
    border-radius:50%;
    height:250px;
    width: 250px;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-lg{
    font-size:1.5em;
}
.text-neg-difference {
    color:darkred;
    font-size:1.3em;
    font-weight:bold;
}
.text-pos-difference {
    color:green;
    font-size:1.3em;
    font-weight:bold;
}