main {
    padding-bottom:80px!important;
}

.btn-update {
    height: 38px !important;
    padding: 5px 15px !important;
    margin: 0 !important;
}

.btn-tabs {
    background-color: #F5F5F5;
    color: #2b4380;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px;
}

.btn-tabs:hover {
    background-color: #26374A;
    color: #FFF;
}

.btn-tabs.active {
    background-color: #26374A;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0px;
}


.btn-tabs-mobile {
    background-color: #F5F5F5;
    color: #2b4380;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px;
}


.btn-tabs-mobile.active {
    background-color: #F5F5F5;
    color: #26374A;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 5px solid #26374A;
}

.blue-header {
    background-color: #26374A;
    color: #FFF;
    margin-top: 5px;
}

.btn-tabs,
.btn-tabs:visited {
    display: inline-block;
    text-decoration: none;
}


.app-name {
    color: #d3d3d3;
}

.app-name,
.app-name:visited {
    display: inline-block;
    text-decoration: none;
    color: #d3d3d3;
}

.app-name,
.app-name:visited,
.app-name:focus,
.app-name:hover {
    color: #d3d3d3;
}

.app-name:active,
.app-name:focus,
.app-name:hover {
    text-decoration: underline;
}

.blue-header.span {
    color: white;
}

#wb-info .landscape2 {
    background: #e3e3e3;
}

.blue-header {
    background-color: #26374A;
    color: #FFF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    overflow: auto;
}

/* Style the active tab */
.tablink.active {
    background-color: #ccc;
}