.big-number {
    font-size: 4em;
    font-weight: bold;
}

@media (max-width: 767px) {
    .big-number {
        font-size: 3em;
    }
}

.no-box-shadow {
    box-shadow: none;
}

.well.well-rnd {
    border-radius: 25px;
}