.big-number {
    font-size: 4em;
    font-weight: bold;
}

@media (max-width: 991px) {
    .big-number {
        font-size: 1.2em;
    }
}

.no-box-shadow {
    box-shadow: none!important;
}

.well-rnd {
    border-radius: 25px;
}