.big-number {
    font-size: 4em;
    font-weight: bold;
}

@media (max-width: 991px) {
    .big-number {
        font-size: 1em;
    }
}

.no-box-shadow {
    box-shadow: none!important;
}

.well-rnd {
    border-radius: 25px;
}

.my-application li:has(a.no-undrln.stretched-link.full-width:hover), .my-application li:has(a.no-undrln.stretched-link.full-width:focus) {
    border-bottom: solid 2px #284162;
}

.my-application a.no-undrln.stretched-link.full-width:hover, .my-application a.no-undrln.stretched-link.full-width:focus {
     margin-bottom: 0px
}

.my-application li:has(a.no-undrln.stretched-link.full-width:hover) span.fas, .my-application li:has(a.no-undrln.stretched-link.full-width:focus) span.fas {
    color: #0535d2;
}
/*
.my-application li:has(a.stretched-link.full-width:hover), .my-application li:has(a.stretched-link.full-width:focus) {
    border-bottom: solid 2px #284162;
}

.my-application a.stretched-link.full-width:hover, .my-application a.stretched-link.full-width:focus {
    font-weight:bold;
    text-decoration: none;
    margin-bottom: -1px
}

.my-application li:has(a.stretched-link.full-width:hover) span.fas, .my-application li:has(a.stretched-link.full-width:focus) span.fas {
    color: #0535d2;
} */