<!DOCTYPE html>
<html lang="en">

<head>
    <title>Convert a Canada.ca page to a GitHub template</title>
    <link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/templator.css" />
</head>

<body>

    <div class="container py-4">
        <h1 class="brdr-0" style="font-size:3em;">Templator</h1>
        <button class="btn-link p-0 wb-toggle" id="settings" data-toggle='{"selector": "#settings-options", "stateOn": "show", "stateOff":"hidden"}'><i class="fas fa-cog mrgn-rght-sm"></i>Settings</button>
        <div class="hidden panel panel-body panel-default small" id="settings-options">
            <form id="settings-form">
                <fieldset class="chkbxrdio-grp">
                    <legend>Code syntax theme</legend>
                    <div class="radio">
                        <label for="light"><input type="radio" name="theme" value="default" id="light" /> Light (default)</label>
                    </div>
                    <div class="radio">
                        <label for="dark"><input type="radio" name="theme" value="dark" id="dark" /> Dark</label>
                    </div>
                </fieldset>
            </form>
        </div>
        

        <div class="mrgn-tp-lg mrgn-bttm-md panel panel-body panel-default">
            <label for="enterURL">Page URL:</label>
            <input type="text" placeholder="https:///www.canada.ca" class="full-width" id="enterURL" /><br />
            <button class="btn btn-info mrgn-tp-md" id="generate">Generate template</button>
            <button class="btn btn-info mrgn-tp-md" id="aem-extract">Extract code for AEM</button>


        </div>
        <div id="downloadedContent" class="hidden"></div>
    </div>
    
    <div class="hidden" id="showOutput">
        <div class="container mrgn-bttm-xl">

            <div class="row">
                <div class="col-md-8 col-xs-12 h-100">
                    <div id="status" class="align-self-center"></div>
                    <div class="position-relative">
                        <div class="d-flex">
                            <div class="btn-group mrgn-bttm-sm">
                                <button id="copyClip" class="btn btn-default">Copy to clipboard</button>
                                <button id="save" class="btn btn-default">Download</button>
                                <button id="update" class="btn btn-default">Run changes</button>
                        
                            </div>
                            <button class="btn-link p-0 wb-toggle text-right grow" data-toggle='{"selector": "#snippets", "stateOn": "show", "stateOff":"hidden"}'><i class="fas fa-code mrgn-rght-sm"></i></i>Add a component</button>
                        
                        </div>
                    </div>
                    <div class="panel panel-body panel-default small" id="snippets">           
                        <ul class="list-unstyled list-inline">
                             <li><button class="btn-link p-0" data-add-snippet="subwayNavigationIndex">Subway navigation: Index</button></li>
                             <li><button class="btn-link p-0" data-add-snippet="subwayNavigationStep">Subway navigation: Step</button></li>
                        </ul>
                     </div>
                    <div class="position-relative" data-theme="default">
                        <textarea class="full-width" placeholder="Enter HTML Source Code" id="output" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);" onkeydown="check_tab(this, event);"></textarea>
                        <pre id="highlighting" aria-hidden="true" class="full-width">
                            <code class="language-html full-width" id="highlighting-content"></code>
                        </pre>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="pageDetails">
                        <h2 class="mrgn-tp-0">Page details</h2>
                        <div id="pageDetails"></div>
                    </div>
                </div>
            </div>


            <h2>Page preview</h2>
            
    
        </div>
        <div id="preview"></div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script src="js/get-template.js"></script> 
    <script src="js/snippets.js"></script>
    <script src="js/templator.js"></script>
</body>

</html>