<!DOCTYPE html>
<html lang="en">

<head>
    <title>Convert a Canada.ca page to a GitHub template</title>
    <link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="template/syntax-highlighting.css" />


    <style>
        .error {
            padding: 15px 10px;
            border: solid red 2px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1em;
        }

        #preview {
            transform: scale(0.9, 0.9);
            transform-origin: top;
            border: 3px solid red;
        }

       
    </style>
</head>

<body>

    <div class="container py-4">
        <h1 class="brdr-0" style="font-size:3em;">Templator</h1>
        <p class="h3 mrgn-tp-0">Generate GitHub code from a Canada.ca page</p>
        <button class="btn-link p-0" id="settings" data-wb-action='{}'><i class="fas fa-cog mrgn-rght-md"></i>Settings </button>
        <div class="hidden" id="setting-options">
            
        </div>

        <form class="mrgn-tp-lg mrgn-bttm-md" id="form">
            <label for="enterURL" class="mrgn-rght-sm">Page URL:</label>
            <input type="text" placeholder="https:///www.canada.ca" class="full-width" id="enterURL" /><br />
            <button class="btn btn-info mrgn-tp-md" id="generate">Generate template</button>
        </form>
        <div id="downloadedContent" class="hidden"></div>
    </div>

    <div class="hidden" id="showOutput">
        <div class="container mrgn-bttm-xl">
            <div class="btn-group mrgn-bttm-sm">
                <button id="copyClip" class="btn btn-default">Copy to clipboard</button>
                <button id="save" class="btn btn-default">Save</button>
                <button id="update" class="btn btn-default">Run changes</button>
            </div>
            
                <div class="row-no-gutters position-relative">                    
                    <div data-theme="default">
                        <textarea class="full-width" placeholder="Enter HTML Source Code" id="output" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);" onkeydown="check_tab(this, event);"></textarea>
                        <pre id="highlighting" aria-hidden="true" class="full-width">
                        <code class="language-html full-width" id="highlighting-content"></code>
                        </pre>
                    </div>


                    <!-- <textarea id="output" class="full-width hght-inhrt"></textarea> -->
                </div>
                <div class="pageDetails">
                    <h2 class="mrgn-tp-0">Page details</h2>
                    <div id="pageDetails"></div>
                </div>
        </div>


        <div class="container-fluid">
            <h2 class="mrgn-lft-xl">Page preview</h2>
        </div>
        <div id="preview"></div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
    <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script src="template/get-template.js"></script>
    <script src="template/syntax.js"></script>
    <script>

        const urlParams = (window.location.href).split("?url=")[1]
        let input = document.getElementById('enterURL');
        let error = false;
        let form = document.getElementById('form');
        let downloadedContent = document.getElementById('downloadedContent');
        let output = document.getElementById('output');
        let showOutput = document.getElementById('showOutput');
        let preview = document.getElementById('preview');
        let generatedTemplate = "";

        let page;

        // import basic_en from "./template/basic-en.js";

        if (urlParams) {
            input.value = urlParams;
            generateTemplate();
        }

        document.getElementById('generate').onclick = function (e) {
            e.preventDefault();

            if (error) {
                form.firstElementChild.remove();
                error = false;
            }

            if (input.value == "") {
                let errorMsg = document.createElement("p");
                errorMsg.setAttribute("id", "errorMsg");
                errorMsg.innerHTML = "Please enter a URL."
                errorMsg.classList.add('error');
                this.parentElement.prepend(errorMsg)
                error = true
            }
            else {
                generateTemplate()
            }
        }

        function generateTemplate() {
            let href = input.value;
            page = {
                metadata: {
                    dateModified: "",
                    description: "",
                    keywords: "",
                    lang: "",
                },
                head: {
                    title: "",
                    alternateLanguageURL: "",
                    experimentalFeatures: "",
                    structuredData: "",
                },
                components: {
                    breadcrumb: "",
                    signInButton: false,
                    fluidWidth: false,
                    pageFeedbackTool: false,
                },
                contents: "",
            }

            downloadedContent.innerHTML = getURL(href);

            if (href.indexOf("canada.ca/en/") > 1) { page.metadata.lang = "en" }
            else { page.metadata.lang = "fr" }
            // page.metadata.lang = downloadedContent.getElementsByTagName('html')[0].getAttribute('lang');

            page.head.title = downloadedContent.getElementsByTagName('title')[0].innerText;
            let experimentalFeatures = downloadedContent.querySelectorAll('link[rel="stylesheet"]');
            for (let i = 0; i < experimentalFeatures.length; i++) {
                if (experimentalFeatures[i]['href'].indexOf('m%C3%A9li-m%C3%A9lo') > -1) {
                    page.head.experimentalFeatures = "https://www.canada.ca/etc/" + decodeURI(experimentalFeatures[i]['href'].split('/etc/')[1]);
                }
            }
            page.head.alternateLanguageURL = page.metadata.lang == "en" ? downloadedContent.querySelector('link[hreflang="fr"').getAttribute('href') : downloadedContent.querySelector('link[hreflang="en"').getAttribute('href');
            page.head.structuredData = downloadedContent.querySelector('script[type="application/ld+json"]') ? downloadedContent.querySelector('script[type="application/ld+json"]').outerHTML : "";

            page.metadata.dateModified = downloadedContent.querySelector('meta[name="dcterms.modified"]').getAttribute('content');
            page.metadata.description = downloadedContent.querySelector('meta[name="dcterms.description"]') ? downloadedContent.querySelector('meta[name="dcterms.description"]').getAttribute('content') : "";
            page.metadata.keywords = downloadedContent.querySelector('meta[name="keywords"]') ? downloadedContent.querySelector('meta[name="keywords"]').getAttribute('content') : "";

            page.components.fluidWidth = downloadedContent.getElementsByTagName('main')[0].classList.contains('container') ? true : false;
            page.components.breadcrumb = downloadedContent.querySelector('.breadcrumb').outerHTML;
            page.components.signInButton = downloadedContent.querySelector('#wb-so') ? true : false;
            let feedback = downloadedContent.querySelectorAll('div[data-ajax-replace]');
            for (let i = 0; i < feedback.length; i++) {
                if (feedback[i].getAttribute('data-ajax-replace').indexOf('page-feedback-') > -1) {
                    page.components.pageFeedbackTool = true
                }
            }

            page.contents = downloadedContent.querySelector('main').innerHTML;

            page.contents = fixLinks(page.contents);
            generatedTemplate = page.metadata.lang == "en" ? englishTemplate(page) : frenchTemplate(page);



            preview.innerHTML = generatedTemplate;
            output.value = generatedTemplate;
            document.getElementById('pageDetails').innerHTML = toHTML();
            triggerWET();
            
            document.getElementById('highlighting-content').innerHTML = generatedTemplate;           
            update(output.value)

            
            

            showOutput.classList.remove('hidden');



            // let hgt = document.getElementById('pageDetails').offsetHeight;
            // console.log(hgt);
            // output.style.height = hgt;
            // document.getElementById('highlighting-content').style.height = hgt;
            // document.getElementById('highlighting').style.height = hgt;


        }

        document.getElementById('copyClip').onclick = function () {
            navigator.clipboard.writeText(output.value);
        }

        document.getElementById('update').onclick = function () {
            preview.innerHTML
        }

        document.getElementById('save').onclick = function () {
            let data, filename, type;
            data = output.value;
            filename = "generated-template.html";
            var htmlContent = [data];
            var bl = new Blob(htmlContent, { type: "text/html" });
            var a = document.createElement("a");
            a.href = URL.createObjectURL(bl);
            a.download = filename;
            a.hidden = true;
            document.body.appendChild(a);
            a.click();
        }

        function toHTML() {
            let details = `<dl class="dl-horizontal">`;
            details += `<dt>Page language</dt><dd>` + page.metadata.lang + `</dd>`;
            details += `<dt>Date modified</dt><dd>` + page.metadata.dateModified + `</dd>`;
            details += `<dt>Page description</dt><dd>` + page.metadata.description + `</dd>`;
            details += `<dt>Keywords</dt><dd>` + page.metadata.keywords + `</dd>`;
            details += `<dt>Page title (not the H1)</dt><dd>` + page.head.title + `</dd>`;
            details += `<dt>Language toggle link</dt><dd>` + page.head.alternateLanguageURL + `</dd>`;
            if (page.head.structuredData) {
                details += `<dt>Structured data</dt><dd style="max-height:200px;overflow:scroll;">` + JSON.stringify(JSON.parse(page.head.structuredData.replace(/<[^>]+>/g, ''))) + `</dd>`;
            }
            else {
                details += `<dt>Structured data</dt><dd>N/A</dd>`;
            }
            details += `<dt>Breadcrumbs</dt><dd>` + page.components.breadcrumb + `</dd>`;
            details += `<dt>Has a sign in button?</dt><dd>` + page.components.signInButton + `</dd>`;
            details += `<dt>Has a page feedback tool?</dt><dd>` + page.components.pageFeedbackTool + `</dd>`;
            details += `</dl>`;
            return details;
        };




        function fixLinks(html) {
            html = html.replaceAll(`"/` + page.metadata.lang + `/`, `"https://www.canada.ca/` + page.metadata.lang + `/`)
            html = html.replaceAll(`"/content/canadasite/` + page.metadata.lang + `/`, `"https://www.canada.ca/` + page.metadata.lang + `/`)
            html = html.replaceAll(`"/content/dam/`, `"https://www.canada.ca/content/dam/`)
            return html
        }

        function getURL(href) {
            return $.ajax({
                url: href,
                async: false
            }).responseText;
        }

        document.getElementById('enterURL').onkeydown = function (e) {
            if (e.keyCode == 13) {
                document.getElementById('generate').click();
            }
        };

        function triggerWET() {
            (function ($, document, wb) {
                "use strict";
                // "data.ajax-type" contains the insersion method [after, append, before, prepend, replace]
                // "data.content" contains the
                var $elm = $("#preview");
                $elm
                    .find(wb.allSelectors)
                    .addClass("wb-init")
                    .filter(":not(#" + $elm.attr("id") + " .wb-init .wb-init)")
                    .trigger("timerpoke.wb");
            })(jQuery, document, wb);
        }


    </script>
</body>

</html>