@import url(steps-progress-bar.css);

main {
    padding-bottom: 50px;
}

header {
    background-color: #33465c;
    color: #fff;
    min-height: 250px;
    margin-top: 0;
    padding: 1em 0 0.5em;
}

header h1 {
    border: none;
    font-size: 3em;
    font-family: "Noto Sans", sans-serif;
}