$phase: #D5C6FF;
$phase-active: #350267;
$phase-active-font: #fff;
$font: #350267;


.user-journey {
    display: flex;
    margin: 20px 0;

    ol {
        position: relative;
        list-style: none;

        text-align: center;
        width: 100%;
        overflow: hidden;

        overflow: hidden;
        margin: 0 !important;
        padding: 0 5px !important;
        padding-inline-start: 0 !important;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }

        margin: 0 !important;
        padding: 0 !important;

        &:first-child {
            padding-left: 16px;

            &::after {
                content: none;
            }
        }

        li {
            width: 100%;
            position: relative;
            background-color: $phase;
            font-weight: bold;
            color: $font;
            line-height: 1em;
            height: 60px;
            padding: 2px 60px 2px 20px;

            @media screen and (max-width: 768px) {
                border: 1px solid $font;
                margin: 5px 0px;
                padding: 15px;
                height: max-content;
                width: 100%;
            }

            @media screen and (max-width:991px) {
                font-size: 0.8em;
            }

            @media screen and (min-width: 769px) {
                display: flex;
                justify-content: center;
                align-items: center;

                &::before,
                &::after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -20px;
                    content: "";
                    width: 30px;
                    height: 30px;
                    border-left: 4px solid #FFF;
                    background-color: $phase;

                }

                &:not(:first-child)::after {
                    transform: skew(-30deg);
                    top: 30px;
                }

                &:not(:first-child)::before {
                    transform: skew(30deg);
                }
            }

        }

        li.active {
            background-color: $phase-active;
            color: $phase-active-font;

            &::before,
            &::after {
                background-color: $phase-active;
            }
        }

    }
}