/* Backgrounds */
.bg-right {
  background-position: right;
}

.bg-bottom {
  background-position: bottom;
}

.bg-bottom.bg-right {
  background-position: bottom right;
}

.bg-contain {
  background-size: contain;
}

.txt-campaign {
  color: #1C9A9B;
}

.txt-xl {
  font-size: 2.8em;
}
@media (max-width: 480px) {
  .txt-xl {
    font-size: 2em;
  }
}

.highlight {
  border-radius: 25px;
  padding: 25px;
}
@media (max-width: 480px) {
  .highlight {
    padding: 15px;
  }
}
.highlight h1,
.highlight h2,
.highlight h3,
.highlight h4,
.highlight h5,
.highlight h6,
.highlight .h1,
.highlight .h2,
.highlight .h3,
.highlight .h4,
.highlight .h5,
.highlight .h6 {
  margin-top: 0;
}
.highlight.highlight-primary {
  background-color: #1C9A9B;
  color: #fff;
}
.highlight.highlight-primary a:link,
.highlight.highlight-primary a:visited,
.highlight.highlight-primary a:hover,
.highlight.highlight-primary a:active {
  color: #fff;
}
.highlight.highlight-secondary {
  background-color: #E8F4F4;
}
.highlight.highlight-primary-alternate {
  border: 1px solid #1C9A9B;
  color: #1C9A9B;
}
.highlight.highlight-primary-alternate a:link,
.highlight.highlight-primary-alternate a:visited,
.highlight.highlight-primary-alternate a:hover,
.highlight.highlight-primary-alternate a:active {
  color: #1C9A9B;
}
.highlight svg,
.highlight img {
  overflow: visible;
  width: 96;
  height: 68px;
}
@media (min-width: 481px) {
  .highlight svg,
  .highlight img {
    transition: transform 500ms;
    transform-origin: top left;
  }
}
@media (min-width: 481px) {
  .highlight.highlight-hover {
    margin-bottom: 50px;
  }
  .highlight.highlight-hover:hover {
    background-color: #88D5D6;
    transition: background-color 500ms linear;
  }
  .highlight.highlight-hover:hover svg,
  .highlight.highlight-hover:hover img {
    transform: scale(1.1, 1.1);
  }
}

@media (min-width: 992px) {
  .highlight:has(.highlight.superimposed) {
    margin-bottom: 100px;
  }
  .superimposed {
    margin-top: 20px;
    margin-bottom: -100px;
  }
}
@media (min-width: 992px) {
  .tabs-highlight.wb-tabs.wb-tabs {
    border: none;
  }
  .tabs-highlight.wb-tabs.wb-tabs > .tabpanels > details, .tabs-highlight.wb-tabs.wb-tabs > details, .tabs-highlight.wb-tabs.wb-tabs > .tabpanels > details > summary, .tabs-highlight.wb-tabs.wb-tabs > details > summary {
    border: none !important;
    padding: 0;
    margin: 0;
  }
  .tabs-highlight.wb-tabs .tabpanels > details,
  .tabs-highlight.wb-tabs .tabpanels > summary,
  .tabs-highlight.wb-tabs ul[role=tablist] a,
  .tabs-highlight.wb-tabs ul[role=tablist] li {
    border: none;
  }
  .tabs-highlight.wb-tabs [role=tablist] {
    display: flex;
    align-items: self-end;
    justify-content: stretch;
    margin-bottom: -5px;
  }
  .tabs-highlight.wb-tabs [role=tablist] li {
    all: unset;
    display: flex;
    justify-content: space-evenly;
    background: none;
    align-self: stretch;
    flex: 1 1 0px;
    text-align: center;
  }
  .tabs-highlight.wb-tabs [role=tablist] li a {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 400;
    color: #295376;
  }
  .tabs-highlight.wb-tabs [role=tablist] li a:after {
    content: " ";
    height: 49px;
    width: 100%;
    margin-bottom: -15px;
  }
  .tabs-highlight.wb-tabs [role=tablist] li a:hover, .tabs-highlight.wb-tabs [role=tablist] li a:focus {
    color: #0535d2;
    text-decoration: underline;
  }
  .tabs-highlight.wb-tabs [role=tablist] li a svg path.hover {
    transition: transform 500ms;
    transform-origin: bottom;
  }
  .tabs-highlight.wb-tabs [role=tablist] li.active a svg path.hover, .tabs-highlight.wb-tabs [role=tablist] li:hover a svg path.hover {
    fill: #1C9A9B;
  }
  .tabs-highlight.wb-tabs [role=tablist] li.active a:after {
    background-image: url("https://ircc.canada.ca/css/campaign-components/assets/tab-arrow.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .tabs-highlight.wb-tabs [role=tablist] li.active a svg {
    transform: scale(1.1, 1.1);
  }
  .tabs-highlight.wb-tabs .tabpanels > details {
    padding: 0 35px;
  }
}
@media (max-width: 991px) {
  .tabs-highlight summary::marker,
  .tabs-highlight summary::-webkit-details-marker {
    display: none !important;
  }
  .tabs-highlight.wb-tabs {
    border: none;
  }
  .tabs-highlight.wb-tabs > .tabpanels > details, .tabs-highlight.wb-tabs > details, .tabs-highlight.wb-tabs > .tabpanels > details > summary, .tabs-highlight.wb-tabs > details > summary {
    border: none !important;
    padding: 0;
    margin: 0;
  }
  .tabs-highlight.wb-tabs > .tabpanels > details[open] > summary, .tabs-highlight.wb-tabs > details[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tabs-highlight.wb-tabs > .tabpanels > details, .tabs-highlight.wb-tabs > details {
    margin: 10px 1px;
  }
  .tabs-highlight.wb-tabs > .tabpanels > details[open] svg, .tabs-highlight.wb-tabs > details[open] svg {
    right: 0px;
    top: 0px;
    transform: scale(0.8, 0.8);
  }
  .tabs-highlight .tgl-tab {
    border: none;
    border-radius: 25px;
    list-style: none;
    position: relative;
    overflow: hidden;
    display: flex !important;
    flex: 1 1 0px;
    align-items: center;
    min-height: 100px;
    padding-left: 25px;
    background-color: #E8F4F4;
    cursor: pointer;
    text-decoration: none !important;
  }
  .tabs-highlight .tgl-tab svg {
    position: absolute;
    right: -25px;
    bottom: -25px;
    height: 100px !important;
  }
  .tabs-highlight .tgl-tab svg path.hover {
    transition: transform 500ms;
    transform-origin: bottom;
  }
  .tabs-highlight .tgl-tab:hover svg path.hover {
    fill: #1C9A9B;
  }
  .tabs-highlight .tgl-tab::before {
    content: "+";
    font-weight: bold;
    color: #295376;
    padding: 0 25px;
  }
  .tabs-highlight .tgl-panel, .tabs-highlight .tgl-panel > .highlight {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0;
  }
}/*# sourceMappingURL=campaign-components.css.map */