@charset "UTF-8";

.tool-container.results {
  background-color: #fff;
  border: 2px solid #B5B2E3;
}

.tool-container {
  background-color: #E7E6F9;
  padding: 30px 40px;
  border-radius: 40px;
  scroll-margin-top: 90px;
  border: none;
  margin: 30px 0;
}

@media screen and (max-width: 767px) {
  .tool-container {
    margin: 30px -15px;
    border-radius: 0;
  }
}

.tool-container h2:not(.undrln-0),
.tool-container legend,
.tool-container .legend {
  border-bottom: 0.18em solid #B5B2E3;
  -o-border-image: linear-gradient(to right, #B5B2E3 51px, transparent 51px);
  border-image: linear-gradient(to right, #B5B2E3 51px, transparent 51px);
  border-image-slice: 1;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  padding-bottom: 5px;
}

.tool-container .alert h2 {
  border: none !important;
}

.tool-container legend,
.tool-container .legend {
  font-size: 1.5em !important;
}

.tool-container .wb-fieldflow-form legend,
.tool-container .wb-fieldflow-form .wb-fieldflow-label,
.tool-container .wb-fieldflow-form .field-name {
  font-size: 24px !important;
  font-family: Lato, sans-serif;
}

.dl-horizontal dt {
  hyphens: none !important;
}

@media (min-width: 768px) {

  .tool-container .dl-horizontal dd:first-of-type,
  .tool-container .dl-horizontal dt:first-of-type {
    border-top: none;
  }

  .tool-container .dl-horizontal {
    display: inline-grid;
    grid-template-columns: fit-content(35%) 1fr;
  }

  .tool-container dt {
    width: unset;

    padding-right: 20px;
  }

  .tool-container dd {
    margin-left: 0;
  }

  .tool-container #changeAnswers .dl-horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: stretch;
  }

  .tool-container #changeAnswers .dl-horizontal dt {
    width: unset;
    flex-basis: 50%;
    -webkit-hyphens: none !important;
    hyphens: none !important;
    padding: 10px !important;
    align-self: stretch;
  }

  .tool-container #changeAnswers .dl-horizontal dd {
    width: unset;
    flex-basis: 50%;
    margin: 0 !important;
    padding: 10px !important;
    align-self: stretch;
  }

  .tool-container #changeAnswers .dl-horizontal dd>span {
    flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .tool-container #changeAnswers .dl-horizontal dd {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tool-container #changeAnswers .dl-horizontal dd>span {
    flex-basis: 100%;
    padding: 10px 0;
  }

  .tool-container #changeAnswers .dl-horizontal dd>button {
    clear: both;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    flex-basis: 100%;
    text-align: left;
  }
}

.tool-container select,
.tool-container input[type=text] {
  padding: 0 !important;
}

.tool-container .gc-chckbxrdio input[type=checkbox]+label::before,
.tool-container .gc-chckbxrdio input[type=radio]+label::before {
  background-color: #fff;
}

.tool-container .gc-chckbxrdio input[type=radio]:checked+label::before {
  background: #444;
}


.tool-container .btn-nav {
  border-radius: 25px !important;
  border: solid 2px #B5B2E3;
  min-width: 150px;
  margin-right: -6px;
  background-color: #fff;
}

.tool-container #btn-next {
  background-color: #B5B2E3;
}

.tool-container #btn-change {
  background-color: #E4E3F3;
}

.tool-container .btn-primary,
.tool-container .btn-primary:hover {
  border-radius: 40px;
  background-color: #B5B2E3;
  border: none;
  color: #333 !important;
  padding: 0.58em 1em;
  font-size: 1.1em;
}

.tool-container .btn-secondary {
  border-radius: 25px;
  background-color: #fff;
  border: 2px solid #B5B2E3;
  color: #333 !important;
  font-size: 1.1em;
}

@media screen and (min-width: 480px) {
  .tool-container #btn-previous {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .tool-container #btn-next {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }

  .tool-container #btn-next,
  .tool-container #btn-reset {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .tool-container:has(#btn-previous.hidden) #btn-next {
    border-radius: 25px !important;
  }

  .tool-container #changeAnswers::before {
    content: "▲";
    position: absolute;
    right: 100px;
    top: -25px;
    color: #E7E6F9;
    font-size: 2em;
  }
}

@media screen and (max-width: 479px) {
  .tool-container .btn-navigation {
    display: block;
  }

  .tool-container .btn-navigation::after {
    clear: both;
  }

  .tool-container #btn-next {
    order: 1;
  }

  .tool-container #btn-previous {
    order: 2;
  }

  .tool-container #btn-change {
    margin: 20px 0px;
    clear: both;
    display: block;
  }

  .tool-container .btn-nav {
    border-radius: 25px !important;
    width: 100%;
    margin: 5px auto;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .tool-container #btn-change {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .tool-container .btn-navigation {
    display: block;
  }

  .tool-container .btn-navigation::after {
    clear: both;
  }

  .tool-container #btn-change {
    margin: 20px 0px;
    clear: both;
    display: block;
  }

  .tool-container #changeAnswers {
    position: relative;
  }

  .tool-container #changeAnswers::before {
    content: "▲";
    position: absolute;
    left: 85px;
    top: -25px;
    color: #E7E6F9;
    font-size: 2em;
  }

  .tool-container #changeAnswers::after {
    clear: both;
  }
}

.tool-container #btn-next {
  background-color: #B5B2E3 !important;
}

.tool-container #btn-next:hover,
.tool-container #btn-next:active {
  background-color: #fff !important;
}

.tool-container table th,
.tool-container table thead {
  background-color: #fff !important;
}

.dataTables_wrapper table {
  margin: 0;
  width: 100% !important;
}

@media screen and (max-width: 991px) {
  .dataTables_wrapper table {
    width: 100% !important;
  }
}

.dataTables_wrapper .dataTables_paginate {
  text-align: left;
}

.dataTables_wrapper .top {
  margin-bottom: 10px;
}

#changeAnswers:has(dl) {
  background-color: #E7E6F9;
  padding: 30px 20px;
  border-radius: 40px;
  scroll-margin-top: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

#changeAnswers:has(dl) dl {
  width: 100%;
  margin-bottom: 0;
  justify-items: stretch;
  align-items: baseline;
}

.btn-toggle {
  background: none !important;
  border: none;
}

.tool-container .well {
  border-radius: 40px;
  padding: 20px 30px;
  background-color: #fff;
}

.sorting {
  vertical-align: middle !important;
}

.sorting button {
  display: flex;
  align-items: center;
}

.sorting-icons {
  display: flex !important;
  flex-direction: column;
  margin-left: 10px;
}

.sorting-icons::before,
.sorting-icons::after {
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  top: 0 !important;
}

.sorting-icons::before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f0de" !important;
  font-weight: 900 !important;
  margin-bottom: -8px;
}

.sorting-icons::after {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f0dd" !important;
  font-weight: 900 !important;
  margin-top: -8px;
}

.sorting.sorting_asc .sorting-icons:before,
.sorting.sorting_desc .sorting-icons:after {
  color: #2572b4 !important;
}

table.dataTable thead button {
  position: relative;
}

.result details,
.legal-disclaimer details {
  border: 3px solid #ddd !important;
  border-radius: 25px !important;
  margin-bottom: 15px;
}

.result details:not([open])>summary,
.legal-disclaimer details:not([open])>summary {
  border-radius: 25px !important;
  background-color: #fff;
  color: #333 !important;
  border: none !important;
  padding: 15px 25px;
  font-weight: normal !important;
}

.result details[open],
.legal-disclaimer details[open] {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 25px !important;
}






.result details[open]>summary,
.legal-disclaimer details[open]>summary {
  padding: 15px 25px;
  color: #333 !important;
  border-radius: 25px !important;
  background-color: #eee !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: -1px -23px 0;
  font-weight: bold !important;
  margin-bottom: 15px !important;
}
.result details.details-grey {
  border:2px solid #F5F5F5!important;
}

.result details.details-grey:not([open])>summary, .result details.details-grey[open]>summary {  
  background-color: #F5F5F5 !important;   
  padding: 5px 15px; 
  border-radius: 10px !important;
  border:none;
}

.result details.details-grey[open]>summary {  
  border:2px solid #CFD1D5!important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: -2px -24px 0;
}

.results details.details-grey[open] {  
  border:2px solid #CFD1D5!important;
  border-radius: 10px !important;
}

.result details>summary::-webkit-details-marker,
.result details>summary::marker,
.legal-disclaimer details>summary::-webkit-details-marker,
.legal-disclaimer details>summary::marker {
  display: none !important;
}

.result details[open]>summary .item1::before,
.legal-disclaimer details[open]>summary .item1::before {
  content: "-" !important;
  font-size: 1.8em;
  margin: -5px 10px;
  font-weight: bold;
}

.result details:not([open])>summary .item1::before,
.legal-disclaimer details:not([open])>summary .item1::before {
  content: "+" !important;
  font-size: 1.5em;
  margin-right: 10px;
  font-weight: bold;
}

.result summary,
.legal-disclaimer summary {
  display: flex !important;
  flex-direction: row;
  text-decoration: none !important;
}

.result summary .flex-item,
.legal-disclaimer summary .flex-item {
  display: flex;
  flex-grow: 0;
}

.result summary .flex-item.item1,
.legal-disclaimer summary .flex-item.item1 {
  order: 2;
  margin-left: 15px;
}

.result summary .flex-item.item2,
.legal-disclaimer summary .flex-item.item2 {
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.result summary .flex-item.item2 .nested-item,
.legal-disclaimer summary .flex-item.item2 .nested-item {
  flex-grow: 1;
  display: flex;
}

@media screen and (max-width: 1000px) {

  .result summary .flex-item.item2 .nested-item,
  .legal-disclaimer summary .flex-item.item2 .nested-item {
    display: block;
  }
}

.result summary .flex-item.item2 .nested-item1,
.legal-disclaimer summary .flex-item.item2 .nested-item1 {
  display: block;
}

.legal-disclaimer details {
  border: 2px solid #E7E6F9 !important;
  border-radius: 25px !important;
}

.legal-disclaimer details[open] {
  background-color: #fff;
}

.legal-disclaimer details[open]>summary {
  background-color: #E7E6F9 !important;
}

@media screen and (max-width: 991px) {
  details {
    margin-top: 16px;
    padding: 0 15px;
    border-radius: 25px;
    min-height: 20px;
    border: 3px solid #ddd !important;
    background-color: #fff !important;
  }

  details[open]>summary {
    margin-top: -1px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: #fff !important;
    color: #43474E !important;
    margin: -1px -16px !important;
  }

  details[open]>summary:hover,
  details[open]>summary:active,
  details[open]>summary:focus {
    color: #43474E !important;
  }

  details>summary:hover,
  details>summary:active,
  details>summary:focus {
    color: #43474E !important;
  }

  details summary {
    width: auto;
    padding: 15px 20px;
    margin: -1px -16px;
    color: #43474E !important;
    text-decoration: none;
    border-radius: 25px !important;
    border: 3px solid #ddd;
  }

  details summary:hover,
  details summary:active,
  details summary:focus {
    background-color: #fff !important;
    color: #43474E;
  }
}

.wb-paginate-pager .pagination>li>button {
  padding: 5px 16px;
}

.well-drk {
  border: none !important;
  background: #f3f3f3 !important;
  padding: 15px 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px !important;
  margin-top: 0 !important;
  box-shadow: none !important;
}

.banner {
  background: linear-gradient(90deg, #E4E3F3 0%, rgba(240, 249, 248, 0) 75%);
  padding: 20px 0;
}

[role=listbox] {
  padding: 0;
  min-height: 18em;
  border: 1px solid #ccc;
  background: white;
}

[role=listbox]#ss_elem_list {
  position: relative;
  max-height: 18em;
  overflow-y: auto;
}

[role=group] {
  margin: 0;
  padding: 0;
}

[role=group]>[role=presentation] {
  display: block;
}

[role=option] {
  position: relative;
  display: block;
  padding: 2px 1em 2px 1.5em;
  line-height: 1.8em;
  cursor: pointer;
}

[role=listbox]:focus [role=option].focused,
[role=option]:hover {
  background-color: #f3f3f3;
}

.move-right-btn span.checkmark::after {
  content: " →";
}

.move-left-btn span.checkmark::before {
  content: "← ";
}

[role=option][aria-selected=true] span.checkmark::before {
  position: absolute;
  left: 0.5em;
  content: "✓";
}

button[aria-haspopup=listbox] {
  position: relative;
  padding: 5px 10px;
  width: 150px;
  border-radius: 0;
  text-align: left;
}

button[aria-haspopup=listbox]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: currentcolor;
  border-bottom: 0;
  content: "";
}

button[aria-haspopup=listbox][aria-expanded=true]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: currentcolor;
  content: "";
}

button[aria-haspopup=listbox]+[role=listbox] {
  position: absolute;
  margin: 0;
  width: 9.5em;
  max-height: 10em;
  border-top: 0;
  overflow-y: auto;
}

[role=toolbar] {
  display: flex;
}

[role=toolbar]>* {
  border: 1px solid #aaa;
  background: #ccc;
}

[role=toolbar]>[aria-disabled=false]:focus {
  background-color: #eee;
}

button {
  font-size: inherit;
}

button[aria-disabled=true] {
  opacity: 0.5;
}

.lb-filter-container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 5px 15px;
}

#lb-filter {
  width: 100;
  margin: 10px 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#ss_elem_list {
  border-top: none;
}

#lb-dropdown-inpt {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  color: rgb(85, 85, 85);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#lb-dropdown-inpt.focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#lb-dropdown-inpt:not(.opened):after {
  content: "▼";
  padding-right: 10px;
  float: right;
}

#lb-dropdown-inpt.opened:after {
  content: "▲";
  padding-right: 10px;
  float: right;
}

#lb-dropdown-inpt.opened {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.result details.details-grey .rounded-border {
  border-color: #CFD1D5;
}

.hr-highlight {  
  border: 2px solid #B5B2E3;
}
.rounded-border {
  border: 2px solid #B5B2E3;
  border-radius: 20px;
  padding: 20px 30px 0px;
}
.row-reduced-gutters {
    margin-right: -5px;
    margin-left: -5px;
}
.rounded-border h2 {
  border: none!important;
}

.result .well {
  border-radius: 20px;
  border: none;
  padding: 20px 30px 0px;
  background-color: #f5f5f5;
  box-shadow: none;
}
@media screen and (max-width: 991px) {
  .result .well {
  padding-bottom: 20px;
  }
  .lst-stps li:before {
    margin-top: 0px !important;
  }
}
  
}
hr.short-center {
  width: 80%;
  margin: auto 10%;
}
ol.lst-stps:not(.stps-strpd) > li, ol.lst-stps-sub:not(.stps-strpd) > li {  
  min-height: 2.5em;
}

ol.lst-stps.lst-stps-highlight:not(.ld-zr) > li:before, ol.lst-stps.lst-stps-highlight:not(.ld-zr) > li ol.lst-stps-sub > li:before {
  border-color: #B5B2E3;
}
.lst-stps li:has(h2:first-child):before , .lst-stps li:has(h3:first-child):before, .lst-stps li:has(h4:first-child):before {
  margin-top:0px;
}

li.lst-stps-icon-passport:before {
  content: '\f5ab'!important;
  font-family: 'FontAwesome'!important;
  display: inline-block!important;
}

li.lst-stps-icon-address-card:before {
  content: '\f2bb'!important;
  font-family: 'FontAwesome'!important;
  display: inline-block!important;
}


/* dark mode fix */

@media (prefers-color-scheme: dark) {

  .gc-chckbxrdio input[type=radio] + label:hover::before,
  .gc-chckbxrdio input[type=checkbox] + label:hover::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(0%, 0%, 0%)), color-stop(50%, hsl(0%, 0%, 0%)));
    background-image: linear-gradient(to bottom, hsl(0%, 0%, 0%), hsl(0%, 0%, 0%) 50%);
  }

}



/*# sourceMappingURL=styles-v9.css.map */
