.lrg-blt li::before,
li::marker {
  font-size: 1.1em !important; }

.bg-light {
  background-color: #fff; }

.btn-link-plain {
  color: #284162;
  text-decoration: underline;
  background: none !important;
  border: none !important;
  padding: 0; }
  .btn-link-plain:hover, .btn-link-plain:focus {
    color: #0535d2; }
  .btn-link-plain:visited {
    color: #7834bc; }

summary:hover.bg-light,
summary:focus.bg-light {
  background-color: #fff !important; }

#otherPrograms .panel {
  border-radius: 25px; }

#otherPrograms .pf-container {
  min-height: 0 !important; }

@media screen and (max-width: 768px) {
  #otherPrograms .panel {
    border-radius: 0; } }
.landing-image {
  margin-right: 25px; }
  @media screen and (max-width: 991px) {
    .landing-image {
      display: none; } }

#wb-cont {
  border-bottom: none;
  color: #fff !important;
  font-weight: normal;
  font-size: 2.7em;
  line-height: 1;
  margin-top: 40px; }
  @media screen and (max-width: 768px) {
    #wb-cont {
      margin: 15px;
      padding: 0 15px;
      font-size: 2em; } }

#wb-cont .sub-text {
  font-size: 0.7em; }

.panel-wrapper,
.pf-container:not(.bg-info) {
  padding: 20px 30px; }

#toolWrapper {
  background-image: linear-gradient(#26374a, #071523);
  overflow: hidden;
  padding: 80px 0; }

#intro,
#tool {
  margin: 0;
  padding: 20px 0; }

@media screen and (max-width: 768px) {
  #intro,
  #tool {
    padding: 0px;
    margin: 0px; }

  .panel-wrapper,
  .pf-container {
    border-radius: 0px !important;
    padding: 20px; }

  #toolWrapper {
    padding: 15px 0; }
    #toolWrapper .container {
      padding: 0; } }
/*START - .pf-container*/
.panel-wrapper {
  border-radius: 30px;
  background-color: #fff;
  margin: 30px 0px; }
  @media screen and (max-width: 768px) {
    .panel-wrapper {
      border-radius: 0px !important;
      margin-top: -1px; } }

.pf-container {
  border-radius: 30px; }
  .pf-container:not(.bg-info) {
    background-color: #fff;
    min-height: 390px; }
    @media screen and (max-width: 991px) {
      .pf-container:not(.bg-info) {
        min-height: auto !important; } }
  .pf-container *:focus {
    outline: 5px auto -webkit-focus-ring-color !important;
    outline: 5px auto -mox-focus-ring-color !important;
    outline: 5px auto #000; }
  .pf-container .btn-info:focus,
  .pf-container summary {
    outline-offset: -2px; }
  .pf-container form:not(.filter-form) {
    min-height: 250px;
    padding: 0 10px;
    width: 100%;
    font-size: 20px !important;
    line-height: 1.65em !important; }
  .pf-container fieldset {
    text-align: left;
    margin: 0 auto;
    border: none !important; }
  .pf-container .radio-group {
    width: 50%; }
  @media screen and (max-width: 991px) {
    .pf-container .radio-group {
      width: 100%; } }
  .pf-container legend {
    float: none !important; }
  .pf-container > ul {
    display: inline-block;
    text-align: left; }
  .pf-container .question {
    width: 100%; }
    .pf-container .question:focus {
      outline: none; }
  .pf-container .field-name {
    font-weight: 700;
    font-size: 24px;
    font-family: Lato, sans-serif;
    text-align: left;
    margin: 0;
    width: 80%; }
    .pf-container .field-name.pseudo {
      font-size: 1.1em; }
  @media screen and (max-width: 768px) {
    .pf-container fieldset {
      width: 100%; }
    .pf-container .radio {
      min-width: none; } }
  .pf-container .datalist {
    width: 310px;
    margin: 15px 0 3px 0;
    border: none;
    border-radius: 4px; }
    .pf-container .datalist ::-webkit-calendar-picker-indicator {
      opacity: 0; }
    .pf-container .datalist :focus {
      outline: 1px auto -webkit-focus-ring-color !important; }
  .pf-container .datalist-wrapper {
    border-bottom: 1px solid #333;
    width: max-content; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .pf-container .datalist-wrapper {
        width: 335px;
        max-width: 335px; } }
    @media all and (max-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .pf-container .datalist-wrapper {
        width: 100% !important;
        max-width: 335px; }
      .pf-container .datalist-wrapper .glyphicon {
        margin-top: 15px;
        float: right !important; } }
    @supports (-ms-ime-align: auto) {
      .pf-container .datalist-wrapper {
        width: 335px;
        max-width: 335px; } }

/*END - .pf-container*/
/*START - SIDE IMAGE*/
#sideImage {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: auto; }
  @media screen and (max-width: 968px) {
    #sideImage {
      right: 0; } }
  @media screen and (max-width: 1199px) {
    #sideImage {
      right: 0; } }

/*END - SIDE IMAGE*/
/* START - BUTTON STYLES*/
.cnt-button {
  padding-left: 10px; }

#btnNext {
  width: 270px;
  font-size: 20px;
  border-radius: 25px;
  border: 1px solid #26374a;
  min-height: 49px; }

.borders #btnNext {
  border-radius: 0 25px 25px 0; }

.btn-prev {
  font-size: 20px;
  margin-left: 10px; }

.btn-see-all,
.btn-unsee-all {
  width: fit-content;
  text-align: center; }

.btn-prev,
.btn-startOver,
.btn-see-all,
.btn-unsee-all {
  min-height: 49px;
  font-family: "Noto Sans", sans-serif;
  display: block;
  border-radius: 25px;
  border: 1px solid #425A76;
  color: #425A76 !important;
  padding: 0.8rem 2rem;
  background-color: #fff;
  min-width: 270px;
  text-decoration: none !important; }

.btn-startOver {
  font-size: 20px;
  width: fit-content;
  color: #fff !important;
  background: #425A76 !important; }
  .btn-startOver:hover {
    background: #33465c !important; }
  @media screen and (max-width: 465px) {
    .btn-startOver {
      width: 100%;
      margin-right: 0 !important; } }
  @media screen and (max-width: 1199px) and (min-with: 992px) {
    .btn-startOver {
      min-width: auto !important; } }

.btn-prev:hover,
.btn-startOver:hover,
.btn-see-all:hover,
.btn-see-all:focus,
.btn-unsee-all:hover,
.btn-unsee-all:focus,
.btn-prev:focus,
.btn-startOver:focus {
  background-color: #D7E5F5;
  border: 1px solid #425A76; }

.btn-prev.btnborders {
  border-radius: 25px !important; }

.btn-nav {
  display: flex;
  flex-direction: row; }

.btn-group {
  margin-left: 0 !important; }

#getStarted {
  border-radius: 30px;
  margin-top: 15px;
  min-width: 350px; }

@media screen and (max-width: 665px) {
  .btn-prev,
  .btn-startOver,
  #btnNext {
    border-radius: 25px !important;
    margin: 5px 0; }

  .btn-prev {
    order: 2; }

  #btnNext {
    order: 1; } }
@media screen and (max-width: 465px) {
  .btn-prev,
  .btn-startOver,
  #btnNext,
  #getStarted {
    width: 100%;
    min-width: 0 !important; } }
@media screen and (max-width: 768px) {
  .btn-next {
    width: 100%;
    max-width: 270px; } }
/* END - BUTTON STYLES */
/*START - RESULTS*/
.pf-container.allResults details.mbl-details,
.pf-container.allResults details.result {
  border: none !important; }
  .pf-container.allResults details.mbl-details:not([open]) summary,
  .pf-container.allResults details.result:not([open]) summary {
    border-radius: 25px !important; }
  .pf-container.allResults details.mbl-details[open],
  .pf-container.allResults details.result[open] {
    margin-bottom: 15px;
    background-color: #F1F2F3; }
    .pf-container.allResults details.mbl-details[open] summary,
    .pf-container.allResults details.result[open] summary {
      background-color: #D6D9DD !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
  .pf-container.allResults details.mbl-details summary::-webkit-details-marker, .pf-container.allResults details.mbl-details summary::marker,
  .pf-container.allResults details.result summary::-webkit-details-marker,
  .pf-container.allResults details.result summary::marker {
    display: none !important; }
.pf-container.allResults details.result {
  margin-top: 5px;
  padding: 15px 15px;
  border-radius: 25px;
  min-height: 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #F1F2F3; }
  .pf-container.allResults details.result > summary {
    width: auto;
    padding: 15px 20px;
    margin-top: -16px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #F1F2F3;
    color: #43474E;
    text-decoration: none;
    border-radius: 25px;
    border: none; }
    .pf-container.allResults details.result > summary:hover, .pf-container.allResults details.result > summary:active, .pf-container.allResults details.result > summary:focus {
      background-color: #D6D9DD; }
    @media screen and (max-width: 375px) {
      .pf-container.allResults details.result > summary .nested-item1 {
        font-size: 1.3em; } }
  .pf-container.allResults details.result .btn-primary {
    background-color: #284368;
    border-radius: 25px; }
.pf-container.allResults .icon-background {
  padding: 15px;
  background-color: #fff;
  width: fit-content;
  min-width: 110px;
  border-radius: 50%;
  color: #284368; }
  .pf-container.allResults .icon-background .fa-4x {
    margin-left: 2px; }
@media screen and (max-width: 550px) {
  .pf-container.allResults .fees-pts div.col-xs-2 {
    display: none; }
  .pf-container.allResults .fees-pts h3 {
    margin-top: 0px !important; } }
@media screen and (max-width: 991px) {
  .pf-container.allResults .fees-pts h3,
  .pf-container.allResults .fees-pts p {
    text-align: left !important; }
  .pf-container.allResults .fees-pts h3 {
    margin-top: 10px; }
  .pf-container.allResults .fees-pts .fa-4x {
    font-size: 2em !important; }
  .pf-container.allResults .icon-background {
    min-width: 74px; } }
@media screen and (max-width: 991px) {
  .pf-container.allResults .pf-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0; } }

#allResults:focus {
  outline: none !important; }

.utility-btns .btn-lg {
  padding: 10px !important; }

/*END - RESULTS*/
details.result[open] summary.flex-container .item1::before,
details.mbl-details[open] summary.flex-container .item1::before {
  content: '-' !important;
  font-size: 1.8em;
  margin: -5px 10px;
  font-weight: bold; }

details.result:not([open]) summary.flex-container .item1::before,
details.mbl-details:not([open]) summary.flex-container .item1::before {
  content: '+' !important;
  font-size: 1.5em;
  margin-right: 10px;
  font-weight: bold; }

.flex-container {
  display: flex !important;
  flex-direction: row; }
  .flex-container .flex-item {
    display: flex;
    flex-grow: 0; }
    .flex-container .flex-item.item1 {
      order: 2;
      margin-left: 15px; }
    .flex-container .flex-item.item2 {
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1; }
      .flex-container .flex-item.item2 .nested-item {
        flex-grow: 1;
        display: flex; }
        @media screen and (max-width: 1000px) {
          .flex-container .flex-item.item2 .nested-item {
            display: block; } }
      .flex-container .flex-item.item2 .nested-item1 {
        display: block; }

.cnt-selection {
  padding-left: 15px !important; }
  .cnt-selection #selectedAnswers {
    padding-bottom: 15px; }
  .cnt-selection dl {
    margin-bottom: 0; }
  .cnt-selection dt {
    width: fit-content;
    line-height: 1.65em;
    padding: 8px 15px 0 0 !important;
    margin: 0; }
    .cnt-selection dt:first-of-type {
      border: none; }
  .cnt-selection dd {
    padding: 10px 0 !important;
    margin-left: 0px !important; }
    .cnt-selection dd:first-of-type {
      border: none; }
    @media screen and (max-width: 768px) {
      .cnt-selection dd {
        padding: 0 !important; } }
    .cnt-selection dd button {
      padding: 0 15px !important;
      min-height: 0px !important;
      float: right;
      text-decoration: underline !important; }
  .cnt-selection dd::after {
    clear: both; }
  .cnt-selection .pf-container.bg-info {
    padding: 20px 20px 10px !important; }
  @media screen and (max-width: 991px) {
    .cnt-selection .pf-container.bg-info {
      padding: 0 !important; }
    .cnt-selection .pf-container:not(.bg-info) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-bottom: 0;
      margin-bottom: -5px; }
    .cnt-selection .pf-container.bg-info {
      border-radius: 25px !important; }
      .cnt-selection .pf-container.bg-info details.mbl-details {
        margin-top: 16px;
        padding: 0 15px;
        border-radius: 25px;
        min-height: 20px;
        border: 1px solid #d9edf7 !important;
        background-color: #d9edf7 !important; }
        .cnt-selection .pf-container.bg-info details.mbl-details[open] summary {
          margin-top: -1px;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          background-color: #6584A6 !important;
          color: #fff !important; }
          .cnt-selection .pf-container.bg-info details.mbl-details[open] summary:hover, .cnt-selection .pf-container.bg-info details.mbl-details[open] summary:active, .cnt-selection .pf-container.bg-info details.mbl-details[open] summary:focus {
            color: #fff !important; }
        .cnt-selection .pf-container.bg-info details.mbl-details summary:hover, .cnt-selection .pf-container.bg-info details.mbl-details summary:active, .cnt-selection .pf-container.bg-info details.mbl-details summary:focus {
          color: #fff !important; }
        .cnt-selection .pf-container.bg-info details.mbl-details summary {
          width: auto;
          padding: 15px 20px;
          margin: -1px -16px;
          color: #43474E !important;
          text-decoration: none;
          border-radius: 25px !important;
          border: none; }
          .cnt-selection .pf-container.bg-info details.mbl-details summary:hover, .cnt-selection .pf-container.bg-info details.mbl-details summary:active, .cnt-selection .pf-container.bg-info details.mbl-details summary:focus {
            background-color: #6584A6 !important;
            color: #fff; } }

/*START - BLUE CHECKMARK*/
.pf-container.allResults ol,
.pf-container.allResults ul {
  margin-left: -0.8em; }

.fa-ul {
  margin-left: var(--fa-li-margin, 1.8em) !important; }
  .fa-ul > li {
    position: relative; }
  .fa-ul > li:before {
    font-family: 'FontAwesome';
    content: "\f058";
    color: #284368;
    left: calc(var(--fa-li-width, 2em)*-1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width, 2em);
    line-height: inherit; }
  .fa-ul p {
    margin-bottom: 0 !important; }

/*end - BLUE CHECKMARK*/
/*START - BADGES*/
.badge-new,
.badge-temp,
.badge-promo {
  display: inline !important;
  min-width: 10px;
  padding: 5px 10px;
  font-size: 16.5px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
  width: fit-content;
  margin: 5px 0px; }

.badge-new {
  background-color: #03662A; }

.badge-temp {
  background-color: #31455C; }

.badge-promo {
  background-color: #6584A6; }

button.badge-new:hover {
  background-color: #01441c; }

button.badge-temp:hover {
  background-color: #456280; }

button.badge-promo:hover {
  background-color: #456280; }

button.badge {
  border: 0;
  margin-right: 5px; }

@media screen and (max-width: 991px) {
  .badge-promo {
    float: none !important; } }
/*END - BADGES*/
/*START - WET UTILITY CLASSES*/
.max-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

@media screen and (max-width: 992px) {
  .d-flex {
    display: flex !important; } }
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

/* Vertical alignment */
.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

/* Color scheme */
.text-white,
a.text-white:visited {
  color: #fff; }

a.text-white:hover,
a.text-white:focus {
  color: #b3ffff; }

.btn.text-white:hover,
.btn.text-white:focus {
  color: #b3ffff; }

.h-100 {
  height: 100% !important; }

/*END - WET UTILITY CLASSES*/
.gc-chckbxrdio label {
  cursor: pointer;
  display: block;
  font-size: 20px; }

.gc-chckbxrdio legend {
  float: none;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0; }

.gc-chckbxrdio input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.gc-chckbxrdio input[type="radio"][disabled] + label {
  cursor: not-allowed;
  opacity: .5; }

.gc-chckbxrdio input[type="radio"] + label {
  display: inline-block;
  line-height: 2;
  margin-left: 36px;
  width: auto; }

.gc-chckbxrdio input[type="radio"] + label::before {
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #000;
  box-shadow: 0 0 0 2px #000;
  content: "";
  display: inline-block;
  height: 36px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 36px; }

.gc-chckbxrdio input[type="radio"] + label:hover::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e5e5), color-stop(50%, white));
  background-image: linear-gradient(to bottom, #e6e5e5, white 50%); }

.gc-chckbxrdio input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px #000, 0 0 8px 4px #3b99fc;
  box-shadow: 0 0 0 2px #000, 0 0 8px 4px #3b99fc; }

.gc-chckbxrdio input[type="radio"] + label::before {
  border-radius: 50%; }

.gc-chckbxrdio input[type="radio"]:checked + label::before {
  background: #444; }

.gc-chckbxrdio.form-inline .label-inline {
  padding-right: 20px; }

.gc-chckbxrdio.form-inline .label-inline label {
  padding-left: 10px; }

/*END - WET UTILITY CLASSES*/
