<!doctype html>
<html class="no-js" dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head prefix="og: http://ogp.me/ns#">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title>Title of the page - Canada.ca</title>
  <meta name="description" content=" " />


  <noscript>
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" />
  </noscript>

  <script id="pageConstants">
    let pageConstants = {
      pageFeedbackTool: true,
      alternateLanguageURL: "#test",
      dateModified: "2024-08-16",
      fluidWidth: true
    }
  </script>
  <script src="https://test.canada.ca/ircc/templates/js/template.js" type="text/javascript" defer></script>
  <link rel="stylesheet" href="https://test.canada.ca/ircc/karine/my-application/my-application.css" />
</head>


<body vocab="http://schema.org/" typeof="WebPage">
  <!--CONTENT STARTS HERE-->
  <main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
 
 
    <div class="bg-cover mrgn-tp-lg mrgn-bttm-lg" data-bgimg="https://test.canada.ca/ircc/karine/my-application/images/banner-v1.png">
      <div class="container mrgn-tp-md mrgn-bttm-md py-4">
        <div class="row">
          <div class="col-md-10">
            <h1 property="name" id="wb-cont" dir="ltr">IRCC applications</h1>
            <div class="row">
              <div class="col-md-10">
                <p class="mrgn-tp-md lead">The application process, including how to find a program, prepare your application, apply, and what to do next.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <section class="">


      <div class="container">
        <div class="row mrgn-bttm-lg">
          <div class="col-md-1 h2 mrgn-tp-0 mrgn-rght-lg hidden-xs hidden-sm"><i class="big-number">1</i></div>
          <div class="col-md-10">
            <h2 class="mrgn-tp-lg d-flex"><span class="visible-xs visible-sm mrgn-rght-md pull-left"><i class="big-number">1.</i></span> <span class="align-self-end">Get ready to apply</span></h2>
            <div class="clearfix visible-xs visible-sm mrgn-bttm-md"></div>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Explore immigration programs</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Get to know Canada</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Find the forms you need to apply</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Use a representative to apply</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Protect yourself from fraud</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="well well-rnd mrgn-tp-lg no-box-shadow brdr-0">
                  <h3 class="mrgn-tp-0">Documents you may need to get before you apply</h3>
                  <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Medical exam</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Police check</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="well brdr-0 brdr-rds-0 no-box-shadow py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-1 h2 mrgn-tp-0 mrgn-rght-lg hidden-xs hidden-sm"><i class="big-number">2</i></div>
            <div class="col-md-10">
              <h2 class="mrgn-tp-lg d-flex"><span class="visible-xs visible-sm mrgn-rght-md pull-left"><i class="big-number">2.</i></span> <span class="align-self-end">Apply</span></h2>
              <div class="clearfix visible-xs visible-sm mrgn-bttm-md"></div>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Sign in to your IRCC account</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Send a complete application package</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Pay your fees</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Find an office or VAC</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-body well-rnd mrgn-tp-lg no-box-shadow brdr-0">
                    <h3 class="mrgn-tp-0">Documents you may need to get after you apply</h3>
                    <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                      <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Biometrics (fingerprints and photo)</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                      <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Medical exam</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                      <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Police check</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row mrgn-bttm-lg">
          <div class="col-md-1 h2 mrgn-tp-0 mrgn-rght-lg hidden-xs hidden-sm"><i class="big-number">3</i></div>
          <div class="col-md-10">
            <h2 class="mrgn-tp-lg d-flex"><span class="visible-xs visible-sm mrgn-rght-md pull-left"><i class="big-number">3.</i></span> <span class="align-self-end">Wait for a decision</span></h2>
            <div class="clearfix visible-xs visible-sm mrgn-bttm-md"></div>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Check your application status</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Check processing times</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Update your application</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Change the address on your application</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Request a refund</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="well brdr-0 brdr-rds-0 no-box-shadow py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-1 h2 mrgn-tp-0 mrgn-rght-lg hidden-xs hidden-sm"><i class="big-number">4</i></div>
            <div class="col-md-10">
              <h2 class="mrgn-tp-lg d-flex"><span class="visible-xs visible-sm mrgn-rght-md pull-left"><i class="big-number">4.</i></span> <span class="align-self-end">Get ready to travel to Canada</span></h2>
              <div class="clearfix visible-xs visible-sm mrgn-bttm-md"></div>

              <h2 class="mrgn-tp-lg"></h2>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled lst-spcd-2 mrgn-tp-lg">
                    <li class="brdr-bttm d-flex position-relative"><a href="#" class="no-undrln stretched-link full-width">Prepare for life in Canada</a><span class="fas fa-arrow-right mrgn-tp-sm" aria-hidden="true"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </section>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
  <script src="https://test.canada.ca/ircc/templates/js/components.js" type="text/javascript" defer></script>
</body>

</html>