<!doctype html>
<html class="no-js" dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head prefix="og: http://ogp.me/ns#">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <!-- CONFIGURATIONS START HERE -->
  <title>Title of the page - Canada.ca</title>
  <meta name="description" content=""/>
	<meta name="keywords" content=""/>
  <script id="pageConstants">
    let pageConstants = {
      pageFeedbackTool: true, // true | false; Set to 'true' if adding the Page Feedback tool to bottom of page
      alternateLanguageURL: "#", // URL; Add the English or French URL link
      dateModified: "2024-08-16", // YYYY-MM-DD
      fluidWidth: false // true | false; Set to 'true' if you will be using full width elements like bands.
    }
  </script>
  <script src="https://test.canada.ca/ircc/templates/js/template.js" type="text/javascript" defer></script>
  <!-- CONFIGURATIONS END HERE -->

  <noscript>
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" />
  </noscript>
  <!-- CUSTOM CSS/SCRIPTS START HERE -->
  <link rel="stylesheet" href="https://test.canada.ca/ircc/karine/my-application/my-application.css" />
  <!-- CUSTOM CSS/SCRIPTS END HERE -->
</head>


<body vocab="http://schema.org/" typeof="WebPage">
  
  <main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
 
    <!--CONTENT STARTS HERE-->
    <!--CONTENT ENDS HERE-->
    
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
  <script src="https://test.canada.ca/ircc/templates/js/template.js" type="text/javascript" defer></script>
</body>

</html>