.tool-container.results {
  background-color: #fff;
  border: 2px solid #B5B2E3;
}

.tool-container {
  background-color: #E7E6F9;
  padding: 30px 40px;
  border-radius: 40px;
  scroll-margin-top: 20px;
  border: none;
}
@media screen and (max-width: 767px) {
  .tool-container {
    margin: 30px -15px;
    border-radius: 0;
  }
}
.tool-container h2, .tool-container legend, .tool-container .legend {
  border-bottom: 0.18em solid #B5B2E3;
  -o-border-image: linear-gradient(to right, #B5B2E3 51px, transparent 51px);
  border-image: linear-gradient(to right, #B5B2E3 51px, transparent 51px);
  border-image-slice: 1;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}
.tool-container .alert h2 {
  border: none !important;
}
.tool-container legend,
.tool-container .legend {
  font-size: 1.5em !important;
}
.tool-container .wb-fieldflow-form legend,
.tool-container .wb-fieldflow-form .wb-fieldflow-label,
.tool-container .wb-fieldflow-form .field-name {
  font-size: 24px !important;
  font-family: Lato, sans-serif;
}
.tool-container select,
.tool-container input[type=text] {
  padding: 0 !important;
}
.tool-container .gc-chckbxrdio input[type=checkbox] + label::before,
.tool-container .gc-chckbxrdio input[type=radio] + label::before {
  background-color: #fff;
}
.tool-container .gc-chckbxrdio input[type=radio]:checked + label::before {
  background: #444;
}
.tool-container .btn-nav {
  border-radius: 25px !important;
  background-color: #fff;
  border: solid 2px #B5B2E3;
  min-width: 150px;
  margin-right: -6px;
}
@media screen and (min-width: 480px) {
  .tool-container #btn-previous {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .tool-container #btn-next {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }
  .tool-container #btn-next, .tool-container #btn-reset {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .tool-container:has(#btn-previous.hidden) #btn-next {
    border-radius: 25px !important;
  }
}
@media screen and (max-width: 479px) {
  .tool-container .btn-navigation {
    display: flex;
    flex-direction: column;
  }
  .tool-container #btn-next {
    order: 1;
  }
  .tool-container #btn-previous {
    order: 2;
  }
  .tool-container .btn-nav {
    border-radius: 25px !important;
    width: 100%;
    margin: 5px auto;
    display: block;
  }
}
.tool-container #btn-next, .tool-container #btn-reset {
  background-color: #B5B2E3 !important;
}
.tool-container #btn-next:hover, .tool-container #btn-next:active, .tool-container #btn-reset:hover, .tool-container #btn-reset:active {
  background-color: #fff !important;
}
.tool-container table th, .tool-container table thead {
  background-color: #fff !important;
}

.dataTables_wrapper table {
  margin: 0;
  width: 100% !important;
}
@media screen and (max-width: 991px) {
  .dataTables_wrapper table {
    width: 100% !important;
  }
}
.dataTables_wrapper .dataTables_paginate {
  text-align: left;
}
.dataTables_wrapper .top {
  margin-bottom: 10px;
}

#changeAnswers:has(dl) {
  background-color: #E7E6F9;
  padding: 30px 20px;
  border-radius: 40px;
  scroll-margin-top: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
#changeAnswers:has(dl) dl {
  width: 100%;
}

.btn-toggle {
  background: none !important;
  border: none;
}

.tool-container .well {
  border-radius: 40px;
  padding: 20px 30px;
  background-color: #fff;
}

.sorting button {
  display: inline-flex;
  align-items: center;
}

.sorting-cnt {
  margin-left: 10px;
}

.sorting:not(.sorting_asc):not(.sorting_desc) .sorting-icons:before {
  color: #707070 !important;
}

.sorting:not(.sorting_asc) .sorting-icons:before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f0dc" !important;
  font-weight: 900 !important;
  background: none !important;
  border: none !important;
  color: #333 !important;
  position: absolute;
  padding-top: 5px;
}

.sorting.sorting_asc .sorting-icons:before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f0dd" !important;
  font-weight: 900 !important;
  background: none !important;
  border: none !important;
  color: #707070 !important;
  position: absolute;
  padding-top: 5px;
}

.sorting.sorting_desc .sorting-icons:before {
  font-family: "Font Awesome 6 Free" !important;
  content: "\f0de" !important;
  font-weight: 900 !important;
  background: none !important;
  border: none !important;
  color: #707070 !important;
  position: absolute;
  padding-top: 5px;
}

.sorting-icons:after {
  display: none;
}

table.dataTable thead button {
  position: relative;
}/*# sourceMappingURL=styles-v6.1.css.map */