<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
    <head prefix="og: http://ogp.me/ns#">
        <meta content="width=device-width,initial-scale=1" name="viewport" charset="utf-8">
        <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
        <meta name="description" content="IRCC web data">
        <meta name="keywords" content="data">
        <meta name="author" content="IRCC">
        <link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
        <link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
        <noscript>
            <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/noscript.min.css" />
        </noscript>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
       
        <meta name="dcterms.title" content="{{ facet }}: IRCC Web Performance Dashboard">
        <title>{{ facet }}: IRCC Web Performance Dashboard</title>

    </head>
    <body vocab="http://schema.org/" typeof="WebPage">
        <ul id="wb-tphp">
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-cont">Skip to main content</a>
            </li>
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
            </li>
        </ul>
    
        <header id="navbar">
            <div id="wb-bnr" class="container-fluid">
                <section id="wb-lng" class="text-right">
                    <h2 class="wb-inv">Language selection</h2>
                    <ul class="list-inline mrgn-bttm-0">
                    </ul>
                </section>
                <div class="row">
                    <div class="brand col-xs-5 col-lg-4">
                        <a href="https://www.canada.ca/en.html"><img
                                src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg" alt=""><span
                                class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du
                                    Canada</span></span></a>
                    </div>
                </div>
            </div>
    
        </header>
        <main property="mainContentOfPage" id="main">
            <section class="hub-header">
                <div class="row row-no-guttters mrgn-tp-sm d-flex align-items-center">
                    <div class="col-sm-10">
                        <h1 property="name" id="wb-cont" dir="ltr">IRCC Web Performance Dashboard</h1>
                    </div>
                    <div class="col-sm-2 visible-xs visible-sm">
    
                        <button class="navbar-toggler pull-right mrgn-rght-lg mrgn-bttm-md d-flex align-items-center"
                            type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="mrgn-rght-md pull-left">Menu</span>
                            <span class="fas fa-caret-down fa-2x pull-right"></span>
                        </button>
                    </div>
    
    
                </div>
            </section>
    
            <div class="row row-no-gutters">
                <div class="col-lg-2 col-md-3">
                    <div class="menu-navigation">
                        <nav class="navbar navbar-expand-lg">
    
                            <h2 class="wb-inv">Menu</h2>
    
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto">
                                    {% for href, caption in [('/', 'Overall'), 
                                        ('page_feedback', 'Page feedback'), 
                                        ('gc_task_success', 'GC Task Success'), 
                                        ('web_analytics', 'Web analytics'), 
                                        ('social_media', 'Social media'), 
                                        ('call_centre', 'Call center'), 
                                        ('google_search', 'Google search')] %}
                                            {% if facet==caption %}
                                                <li><a href="{{ href }}?topic={{ topic }}" class="nav-link active" aria-current="page">{{ caption }}</a></li>
                                            {% else %}
                                                <li><a href="{{ href }}?topic={{ topic }}" class="nav-link">{{ caption }}</a></li>
                                            {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
    
                        </nav>
                    </div>
                </div>
    
    
    
                <div class="col-lg-10 col-md-9 ">
                    <div class="main-content">
                        
                        {% block content %}{% endblock %}
                    </div>
    
                </div>
            </div>
    
    
    
    
            </div>
        </main>
        {% block footer %}{% endblock %}
    </body>
</html>