{% extends "base.html" %}
{% block content %}
<h2>Page Feedback</h2>
<form action="/selected_page" method="post" class="form-inline">
    <div class="form-group">
        <label for="topics" class="control-label">Select a topic:</label>
        <select id="topics" name="topics" class="form-control">
            {% for option in topics %}
            <option value="{{ option }}" {% if option==topic %} selected {% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mrgn-lft-md">
        <label for="time_range" class="control-label">Select a date range:</label>
        <select id="time_range" name="time_range" class="form-control">
            <option value="30days" {% if time_range=='30days' %}selected{% endif %}>Last 30 days</option>
            <option value="7days" {% if time_range=='7days' %}selected{% endif %}>Last 7 days</option>
            <option value="alldata" {% if time_range=='alldata' %}selected{% endif %}>All data</option>
        </select>
    </div>


    <!-- Hidden facet selector  -->
    <input type="hidden" id="facets" name="facets" value="{{ facet }}">

    <!-- Hidden tab selector  -->
    <input type="hidden" id="tabs" name="tabs" value="{{ tab }}">

    <button class="btn btn-call-to-action btn-update" type="submit" value="Go to data">Update data</button>
</form>




<h3>{{ topic }}</h3>

<nav>
    <ul class="nav nav-tabs">
        <li class="{{ 'active' if tab == 'comments' }}">
            <a href="{{ url_for('page_feedback', topic=topic, time_range=time_range, tab='comments') }}">Comments</a>
        </li>
        <li class="{{ 'active' if tab == 'common-words' }}">
            <a href="{{ url_for('page_feedback', topic=topic, time_range=time_range, tab='common-words') }}">Most common
                words</a>
        </li>
        <li class="{{ 'active' if tab == 'sentiment' }}">
            <a href="{{ url_for('page_feedback', topic=topic, time_range=time_range, tab='sentiment') }}">Sentiment
                analysis</a>
        </li>
    </ul>
</nav>


{% if tab == 'comments' %}
{% if data|length == 0 %}
<p>No comments for {{ topic }}</p>
{% else %}

<img src="data:image/png;base64,{{ plot }}">


<table class="wb-tables table" data-wb-tables='{ "order" : [[0, "desc"]] }' id="feedback-table">
    <caption>Feedback by date</caption>
    <thead>
        <tr>
            <th class="nowrap">Date</th>
            <th>Comment</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td class="nowrap">{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td><a href="{{ row[2] }}">{{ row[2] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% elif tab == 'common-words' %}
<h3>Most Common Words in English Comments</h3>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<img src="data:image/png;base64,{{ wordcloud_en }}" alt="Wordcloud for English comments">

<h3>Most Common Words in French Comments</h3>
<img src="data:image/png;base64,{{ wordcloud_fr }}" alt="Wordcloud for French comments">
{% elif tab == 'sentiment' %}

{% if message %}
<p>{{ message }}</p>
{% endif %}
<img src="data:image/png;base64,{{ sentiment_plot }}">
{% endif %}
{% endblock %}