@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Lexend", sans-serif !important;
}

.hidden {
  display: none !important;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.slide {
  width: 80%;
}
.slide h1 {
  font-size: 100pt;
  padding: 20px;
  margin-bottom: 100px;
}
.slide h2 {
  font-size: 70pt;
  padding: 20px;
  margin-bottom: 80px;
}
.slide p {
  font-size: 20pt;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.big-numbers {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-items: center;
  align-items: center;
}
.big-numbers .box {
  flex-grow: 1;
  background-color: #E9E5F2;
  border-radius: 25px;
  padding: 30px;
  margin: 20px;
  text-align: center;
}
.big-numbers .number {
  font-size: 3em;
  font-weight: bold;
  transition: all 0.5s ease;
}

.highlight-green {
  color: #92F141;
}

.caret::after {
  position: absolute;
  content: "^";
  font-weight: bold;
  margin-top: 80px;
  margin-left: -50px;
  font-family: "Times New Roman", Times, serif;
}

#slide-0 {
  background-color: #350267;
  color: #fff;
  padding: 200px;
  height: calc(100% - 400px);
}
#slide-0 .bg-img {
  background-image: url("img/wurd-crew-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

#slide-1 {
  background-color: #dfd6f9;
  color: #350267;
  padding: 80px 200px;
  height: calc(100% - 160px);
}

#slide-2 {
  background-color: #600DB4;
  color: #E9E5F2;
  padding: 80px 200px;
  height: calc(100% - 160px);
}

#slide-3 {
  background-color: #E9E5F2;
  color: #350267;
  padding: 80px 200px;
  height: calc(100% - 160px);
}
#slide-3 .slide-content {
  flex-direction: row;
  gap: 30px;
}
#slide-3 .slide-content img {
  border-radius: 25px;
}
#slide-3 .slide-content h2 {
  font-size: 50pt;
  margin-top: 0;
}
#slide-3 .slide-content p {
  margin: 20px;
  font-size: 25pt;
}
#slide-3 .slide-content .number {
  font-size: 2em;
  text-shadow: 1px 1px 10px #dfd6f9, 1px 1px 10px #350267;
}

#slide-4 {
  background-color: #350267;
  color: #dfd6f9;
  padding: 80px 200px;
  height: calc(100% - 160px);
}
#slide-4 .slide-content {
  flex-direction: row;
  gap: 30px;
}
#slide-4 .slide-content img {
  border-radius: 25px;
}
#slide-4 .slide-content h2 {
  font-size: 50pt;
  margin-top: 0;
}
#slide-4 .slide-content p {
  margin: 20px;
  font-size: 25pt;
}
#slide-4 .slide-content .number {
  font-size: 2em;
  color: #92F141;
}

#slide-5 {
  background-color: #E9E5F2;
  color: #350267;
  padding: 80px 200px;
  height: calc(100% - 160px);
}
#slide-5 .slide-content {
  flex-direction: row;
  gap: 30px;
  position: relative;
}
#slide-5 .slide-content img {
  border-radius: 25px;
}
#slide-5 .slide-content h2 {
  font-size: 50pt;
  margin-top: 0;
  z-index: 2;
}
#slide-5 .slide-content p {
  margin: 20px;
  font-size: 25pt;
  z-index: 2;
}

#slide-5 .bg-svg {
  position: relative;
}

.background-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 100%;
  z-index: 0;
  /* SVG sits below content */
}

.bg-svg h2,
.bg-svg p {
  position: relative;
  z-index: 1;
  /* Content sits above SVG */
}

.bar {
  transition: height 1s ease, y 1s ease;
  /* Smooth animation */
}

#slide-6 {
  background-color: #350267;
  color: #dfd6f9;
  padding: 80px 200px;
  height: calc(100% - 160px);
}
#slide-6 .slide-content {
  flex-direction: row;
  gap: 50px;
  position: relative;
}
#slide-6 .slide-content > div {
  width: 40%;
}
#slide-6 .slide-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
#slide-6 .slide-content a {
  color: #92F141 !important;
}
#slide-6 .slide-content h2 {
  font-size: 50pt;
  margin-top: 0;
  z-index: 2;
  padding: 0;
}
#slide-6 .slide-content p {
  font-size: 14pt;
  margin-bottom: 10px;
}
#slide-6 .slide-content li {
  font-size: 25pt;
  z-index: 2;
  margin-left: 30px;
}

#slide-7 {
  background-color: #E9E5F2;
  color: #350267;
  padding: 80px 200px;
  height: calc(100% - 160px);
}
#slide-7 h2 {
  font-size: 50pt;
  margin-top: 0;
  z-index: 2;
  padding: 0;
}
#slide-7 ul {
  margin-left: 25px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#slide-7 li {
  font-size: 25pt;
  z-index: 2;
  margin-left: 30px;
}

#slide-deck {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}
#slide-deck div.button {
  color: #fff;
  font-size: 50pt;
  background: #350267;
}
#slide-deck button {
  all: unset;
}
#slide-deck div > button {
  opacity: 0.5;
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#slide-deck div > button:hover {
  opacity: 1;
}
#slide-deck #previous {
  padding-left: 20px;
}
#slide-deck #next {
  padding-right: 20px;
}

#slide-deck:has(#slide-0:not(.hidden)) div.button {
  background-color: #350267;
}

#slide-deck:has(#slide-1:not(.hidden)) div.button {
  background-color: #dfd6f9;
}

#slide-deck:has(#slide-2:not(.hidden)) div.button {
  background-color: #600DB4;
}

#slide-deck:has(#slide-3:not(.hidden)) div.button {
  background-color: #E9E5F2;
}

#slide-deck:has(#slide-4:not(.hidden)) div.button {
  background-color: #350267;
}

#slide-deck:has(#slide-5:not(.hidden)) div.button {
  background-color: #E9E5F2;
}

#slide-deck:has(#slide-6:not(.hidden)) div.button {
  background-color: #350267;
}

#slide-deck:has(#slide-7:not(.hidden)) div.button {
  background-color: #E9E5F2;
}

/*Animations*/
.animate-number {
  transform: scale(2);
  margin-bottom: 20px;
}/*# sourceMappingURL=wrapped.css.map */